main {
    border: 2px solid black;
    width: 700px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("img/spanzuratoarea.png");
    background-size: cover;
    color: blue;
}

main h1 {
    text-align: center;
}

main button {
    width: 50%;
    align-self: center;
    border-radius: 40px;
    background-color: blue;
    color: white;
}

.life {
    align-self: flex-end;
}

.life img {
    width: 50px;
    height: 50px;
}

.container1 {
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    color: white;
}

.container1 div {
    border: 2px solid black;
    border-radius: 20px;
    height: 50px;
    width: 50px;
    background-color: cornflowerblue;
    text-align: center;
}

.alfabet {
    border: 5px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    color: white;
    grid-template-rows: auto;
}

.alfabet button {
    border: 2px solid black;
    border-radius: 20px;
    height: 50px;
    width: 50px;
    background-color: cornflowerblue;
    text-align: center;
}

.loose {
    background-image: url("img/looser.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.win {
    background-image: url("img/win.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.again {
    width: 100px;
}

.container1 .goala {
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: white;
}